@use 'ScssUtil/forward' as fw;

.section,
.article {
  line-height: 1.5;

  h1,
  h2,
  h3 {
    font-family: 'Times New Roman', Times, serif;
  }

  h1 {
    font-size: 2.25rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 1.75rem;
    margin: 1rem 0;
  }

  h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  p,
  ul {
    margin-top: 0.5rem;
  }

  ul {
    list-style-type: square;
    margin-left: 2rem;
  }

  li {
    padding-left: 0.5rem;
  }

  &--type_basic {
    max-width: 1024px;
    padding: 0 0.75rem;
    margin: 0 auto;

    @include fw.media('>768px') {
      padding: 0 1.5rem;
    }
  }
}
