/* Form */
.ci-form {
  max-width: 360px;
  padding: 0;
  margin: 0 auto;
  font-family: sans-serif;
  box-sizing: border-box;
}

.ci-form *,
.ci-form *::after,
.ci-form *::before {
  box-sizing: border-box;
  font-size: 1rem;
}

/* Form pages visibility */
.ci-form__page {
  display: none;
}

.ci-form__page--active {
  display: block;
}

/* Form heading */
.ci-form__heading {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}

/* Fixed height elements */
.ci-form__input,
.ci-form__button {
  width: 100%;
  padding: 0 0.75rem;
  margin: 0;
  height: 2.25rem;
  line-height: 2.25rem;
  border: none;
}

/* Min height elements */
.ci-form__message,
.ci-dropdown__list-item {
  padding: 0.5rem 0.75rem;
  margin: 0;
  min-height: 2.25rem;
  line-height: 1.25rem;
}

/* Label */
.ci-form__label {
  display: block;
  position: relative;
  margin-top: 2rem;
}

.ci-form__label--disabled {
  color: #aaa;
}

.ci-form__label-text {
  font-size: 0.75rem;
  font-weight: 700;
}

/* Input */
.ci-form__input {
  text-overflow: ellipsis;
  margin-top: 0.25rem;
  background-color: #006fb005;
  border: 1px solid #ddd;
}

.ci-form__input--type_text {
  border-bottom: 1px solid #ddd;
}

.ci-form__input--type_text:focus {
  border-bottom: 2px solid #006fb0;
}

.ci-form__input--type_text.invalid {
  border-bottom: 2px solid #ee3364;
}

.ci-form__input--disabled {
  background-color: #4444aa20;
}

/* Remove date outline (Firefox) */
.ci-form__input:focus {
  outline: transparent;
}

/* Input error */
.ci-form__error {
  position: absolute;
  top: 104%;
  left: 0;
  right: 0;
  font-size: 0.75rem;
  color: #ee3364;
}

/* Submit button */
.ci-form__button {
  margin-top: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #006fb0;
  color: #fff;
}

.ci-form__button:hover,
.check-in-table__del-person:hover {
  background-color: #0054a4;
}

/* Dropdown */
.ci-dropdown::after {
  content: '+';
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  text-align: center;
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  z-index: -1;
}

.ci-dropdown--open::after {
  content: '-';
}

.ci-dropdown__input {
  padding-right: 2.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.ci-dropdown__list {
  position: absolute;
  max-height: 230px;
  overflow: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 100;
  cursor: default;
}

.ci-dropdown__list--hidden {
  display: none;
}

.ci-dropdown__list-item:hover {
  background-color: #006fb020;
  color: #000;
}

.ci-dropdown__list-item--selected,
.ci-dropdown__list-item--selected:hover {
  background-color: #006fb0;
  color: #fff;
}

/* Message */
.ci-form__message {
  display: block;
  margin-top: 2.5rem;
  color: white;
  /* Default background color = info */
  background-color: #006fb0;
}

.ci-form__message--type_success {
  background-color: forestgreen;
}

.ci-form__message--type_error {
  background-color: #ee3364;
}

.ci-form__message--type_info {
  background-color: #006fb0;
}

/* Pdf link */
.ci-form__pdf-link {
  display: inline-block;
  margin-top: 1.25rem;
  text-decoration: underline;
  font-size: 1rem;
}

/* Admin table */
.ci-table {
  margin: 3rem auto 0;
  text-align: left;
  border-collapse: collapse;
}

.ci-table th,
.ci-table td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.ci-table__btn {
  min-width: 2rem;
  vertical-align: top;
  color: #fff;
}

.js-delete-event {
  background-color: #ee3364;
}

.js-delete-event:hover {
  background-color: #bb0031;
}

/* Fixed Message */
#float-message-box .ci-form__message {
  position: fixed;
  bottom: 1.25rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 250px;
  z-index: 100;
}

/* Admin panel */
.ci-admin-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.ci-admin-panel .ci-form {
  margin: 0;
}

.ci-form__message .ci-form-panel,
.check-in-display-panel {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Admin panel forms */
.ci-form-panel {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
}
.ci-form-panel .ci-form {
  margin: 1.25rem 0.5rem;
}

/* Admin login button */
.check-in-login-btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  margin-top: 1.25rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: arial, helvetica, sans-serif;
  color: white;
  background-color: #006fb0;
}

@media all and (min-width: 600px) {
  .ci-form {
    padding: 2rem 1.25rem 1.25rem;
  }
}

@media all and (min-width: 768px) {
  .low-vision .ci-form {
    max-width: 450px;
    padding: 2.5rem 1.5rem;
  }

  .low-vision .ci-form *,
  .low-vision .ci-form *:after {
    font-size: 1.25rem;
  }

  .low-vision .ci-form__label + .ci-form__label {
    margin-top: 1.75rem;
  }

  .low-vision .ci-form__input,
  .low-vision .ci-form__submit,
  .low-vision .ci-form__dropdown-item,
  .low-vision .ci-form__message {
    min-height: 2.5rem;
    line-height: 2.5rem;
  }

  .low-vision .ci-form__dropdown {
    margin-left: 0;
  }

  .low-vision .ci-form__label--dropdown::after {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
  }
}

@page {
  size: A4 portrait;
  margin: 1cm 0;
}

@media print {
  /* Firefox flex bug --- prints single page */
  body {
    display: block;
  }

  /* Chrome thead bug --- text intersection */
  .check-in-table-wrapper thead {
    display: table-row-group;
  }

  /* hide panel */
  .ci-form-panel {
    display: none;
  }

  .check-in-table-wrapper {
    margin-top: -100px;
  }

  .check-in-table-wrapper th,
  .check-in-table-wrapper td {
    font-size: 8pt;
    padding: 1pt;
  }
}
