.file-pdf,
.file-word,
.file-excel,
.external-url,
.internal-url,
.mail-url,
.phone-url {
  text-decoration: underline;

  &::before {
    font-family: 'fontello';
    display: inline-block;
    margin-right: 0.25rem;
  }
}

.file-pdf {
  color: red;

  &::before {
    content: '\f1c1';
  }
}
.file-word {
  color: blue;

  &::before {
    content: '\f1c2';
  }
}

.file-excel {
  color: green;

  &::before {
    content: '\f1c3';
  }
}

.mail-url::before {
  content: '\e800';
}

.phone-url::before {
  content: '\e803';
}

.external-url::before {
  content: '\f08e';
}
