$red-vivid: #ff4400;
$red-pale: #ff6644;
$yellow-vivid: #ffc044;
$yellow-pale: #ffe0aa;
$yellow-darker: #eeb033;
$green-vivid: #40c060;
$green-pale: #a5fa90;
$blue-vivid: #5070da;
$violet-vivid: #bf25ca;
$c0: #c0c0c0;
$footer-color: #2f4248;
