$blue-vivid: #5070da;
$footer-color: #2f4248;
$green-vivid: #40c060;
$green-pale: #a5fa90;
$red-pale: #ff6644;
$red-vivid: #ff4400;
$violet-vivid: #bf25ca;
$yellow-darker: #eeb033;
$yellow-pale: #ffe0aa;
$yellow-vivid: #ffc044;

// logo 2020 colors
$magenta-1: #f15c58;
$magenta-2: #ef475f;
$magenta-3: #ee3364;
$magenta-3-50: #ee336480;
$orange-1: #f79122;
$orange-2: #f5803b;
$orange-3: #f36d4e;
$violet-1: #6c488f;
$blue-1: #4297d8;
$blue-2: #0097d3;
$blue-3: #0092c2;
$blue-4: #006fb0;
$blue-5: #0054a4;

$shadowGrey: 0 4px 8px #4441;
