$blue-vivid: #5070da;
$footer-color: #2f4248;
$green-vivid: #40c060;
$green-pale: #a5fa90;
$red-pale: #ff6644;
$red-vivid: #ff4400;
$violet-vivid: #bf25ca;
$yellow-darker: #eeb033;
$yellow-pale: #ffe0aa;
$yellow-vivid: #ffc044;

$shadowGrey: 0 0.25rem 0.5rem #ddd;
