// bread height on mobile
$breadHeight_m: 3rem;

// nav-primary__link height on mobile
$nplHeight_m: 3rem;

// nav-primary__link height on desktop
$nplHeight_d: 3rem;

// low-vision font-sizes
$lvh1: 3rem;
$lvh2: 2.5rem;
$lvh3: 2rem;
$lvh4: 1.6rem;
