.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0.75rem;
  right: 0.75rem;
  width: 4rem;
  height: 4rem;
  padding: 0;

  background: #ff4500;
  border: 2px solid #333;
  border-radius: 2rem;

  z-index: 10;

  // &:before {
  //   display: block;
  //   font-size: 2.5rem;
  //   // text-align: center;
  //   content: '\f0c9';
  // }

  // &.is-open:before {
  //   // line-height: 2.5rem;
  //   // font-size: 2rem;
  //   content: '\e801';
  // }

  &__icon {
    padding: 0;
    font-size: 2.25rem;
  }
}
