@use 'ScssUtil/forward' as fw;

.card-tiles {
  flex-flow: row wrap;
  justify-content: space-between;

  &__tile {
    width: 100%;
    margin: 0.75rem 0;
    border: 2px solid fw.$yellow-pale;
    text-align: center;
  }
  img {
    display: block;
    width: 100%;
  }
  div {
    padding: 0.5rem 0;
    background: fw.$yellow-pale;
    overflow: auto;
  }
}
