@use 'ScssUtil/forward' as *;

.card-tiles {
  display: grid;
  grid-template: auto / auto;
  gap: 1rem;
  max-width: 100%;

  @include media('>500px') {
    grid-template-columns: 1fr 1fr;
  }

  @include media('>960px') {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}

.card-tile {
  border: 1px solid #eee;
  box-shadow: 0 0.25rem 0.5rem #ddd;
  border-radius: 4px;

  /* smaller vertical images */
  // &__image-container {
  //   position: relative;
  //   height: 0;
  //   margin: 0.5rem;
  //   padding-bottom: 66.67%;
  // }

  // &__image {
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   display: block;
  //   height: 100%;
  //   margin: 0 auto;
  // }

  /* full-height vertical images */
  &__image-container {
    margin: 0.5rem;
    border-radius: 3px;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__text-content {
    padding: 1rem;
    text-align: center;
    max-width: 100%;

    h3 {
      margin: 0;
    }
  }
}

.low-vision {
  .card-tiles {
    h3 {
      font-size: 1.5rem;
    }

    @include media('>500px') {
      grid-template-columns: 1fr;
    }

    @include media('>960px') {
      grid-template-columns: 1fr 1fr;
    }
  }
}
