@use 'ScssUtil/forward' as *;

.search-form {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 3rem;
  border: 1px solid #ccc;

  &__input,
  &__submit {
    padding: 0.75rem;
    font-size: 1.25rem;
    overflow: auto;
  }

  &__input {
    flex: 9 5 auto;
  }

  &__submit {
    flex: 1 1 auto;
    min-width: 90px;
    background-color: $yellow-vivid;
    cursor: pointer;

    &:hover {
      background-color: $yellow-darker;
    }
  }
}

// результаты поиска
.search section .nav {
  font-size: 1.25rem;

  .summary {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }

  li {
    line-height: 2;
  }

  a {
    text-decoration: underline;
  }
}
