.action-btn {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  border-radius: 0.25rem;
  text-shadow: 0 0 1px #333;

  &--size_s {
    padding: 0.75rem 1rem;
    margin: auto;
    font-size: 1rem;
  }

  &--color {
    &_yellow {
      background-color: #fb0;

      &:hover {
        background-color: #d90;
      }
    }

    &_cyan {
      background-color: #50c0e0;

      &:hover {
        background-color: #30a0c0;
      }
    }
  }
}

.low-vision .action-btn {
  padding: 1rem 3rem;
  background-color: #333;
  border-radius: 0;
}
