@use 'ScssUtil/forward' as *;

.action-btn {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  border-radius: 0.25rem;

  &--size_s {
    padding: 0.75rem 1rem;
    margin: auto;
    font-size: 1rem;
  }

  &--color {
    &_blue {
      background-color: $blue-1;

      &:hover {
        background-color: $blue-4;
      }
    }

    &_magenta {
      background-color: $magenta-1;

      &:hover {
        background-color: $magenta-3;
      }
    }

    &_orange {
      background-color: $orange-1;

      &:hover {
        background-color: $orange-3;
      }
    }
  }
}

.low-vision .action-btn {
  padding: 1rem 3rem;
  background-color: #333;
  border-radius: 0;
}
