@use 'ScssUtil/forward' as *;

.footer {
  text-align: center;

  &__top {
    padding: 1.5rem 0.75rem;
    background-color: $footer-color;
  }

  &-nav {
    margin-bottom: 1.5rem;

    &__link {
      display: inline-block;
      margin: 0 1rem;
      line-height: 1.75;
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #cfe2e8;
      }
    }
  }

  &-officials {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    &__banner {
      display: inline-block;
      height: 100px;
      margin: 0.25rem;
      max-width: 100%;
    }
  }

  &-copy {
    background-color: $yellow-vivid;

    &__para {
      margin: 0;
      padding: 1.5rem 0.75rem;
    }
  }

  @include media('print') {
    display: none;
  }
}

#ban_gu {
  width: 235px;
  background: url('/site/assets/images/banners.png') 0 0;
}
#ban_miac {
  width: 300px;
  background: url('/site/assets/images/banners.png') -235px 0;
}

#ban_poll {
  width: 355px;
  background: url('/site/assets/images/banners.png') -535px 0;
}

#ban_gorzdrav {
  width: 212px;
  background: url('/site/assets/images/banners.png') -890px 0;
}
