@use 'ScssUtil/forward' as *;

@use './header/nav-primary';
@use './header/np-subnav';

.main-header {
  position: relative;

  &--home {
    @include media('>=tablet') {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 600px;
      background-image: url('/site/assets/images/bg-header-2560.jpg');
      background-position: center;
      box-shadow: 0 0 2.5rem #303030 inset;
    }
  }

  &__logo {
    display: none;

    @include media('>=tablet') {
      display: block;
      width: 100%;
      max-width: 1440px;
      padding: 0 1.5rem;
      margin-bottom: 150px;
    }

    &-image {
      display: inline-block;
    }
  }

  &__register-btn {
    display: none;

    @include media('>=tablet') {
      display: block;
      bottom: 4rem;
    }
  }

  @include media('print') {
    display: none;
  }
}

.low-vision {
  .main-header {
    &--home {
      background: none;
      height: auto;
    }

    &__logo {
      display: none;
    }
  }
}
