@use 'ScssUtil/forward' as *;

@use './header/nav-primary';
@use './header/np-subnav';

.main-header {
  position: relative;

  &--home {
    @include media('>=tablet') {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 600px;
      background-image: url('/site/assets/images/bg-header.webp');
      background-position: center;
      box-shadow: 0 0 2.5rem #303030 inset;
    }
  }

  &__ugly {
    display: none;

    @include media('>=1440px') {
      display: flex;
      align-items: center;
      min-width: 800px;
      flex: 1;
      // background-color: #fffa;
      background: linear-gradient(#ffffff80, $magenta-3-50);
      clip-path: polygon(
        0% 0%,
        800px 0px,
        773px 1px,
        745px 6px,
        718px 13px,
        690px 23px,
        663px 37px,
        636px 55px,
        604px 82px,
        581px 110px,
        563px 137px,
        549px 164px,
        539px 192px,
        532px 219px,
        527px 247px,
        526px 274px,
        527px 301px,
        532px 329px,
        539px 356px,
        549px 384px,
        563px 411px,
        581px 438px,
        604px 466px,
        636px 493px,
        663px 511px,
        690px 525px,
        718px 535px,
        745px 542px,
        773px 547px,
        800px 548px,
        0% 100%
      );
    }
  }

  &__logo {
    display: none;

    @include media('>=tablet') {
      display: block;
      // Compensate ugly polygon curve
      margin: 0 71px;
    }
  }

  @include media('print') {
    display: none;
  }
}

.low-vision {
  .main-header {
    &--home {
      background: none;
      height: auto;
    }

    &__logo {
      display: none;
    }
  }
}
