@use 'ScssUtil/forward' as fw;

$btnRad: 2rem;

.menu-btn {
  position: fixed;
  top: 0.75rem;
  right: 0.75rem;
  width: $btnRad * 2;
  height: $btnRad * 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #ff4500;
  border: 2px solid #333;
  border-radius: $btnRad;
  z-index: 10;

  &__icon {
    padding: 0;
    font-size: $btnRad * 1.125;
  }

  @include fw.media('>tablet') {
    display: none;
  }
}
