.pager-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0;
  list-style-type: none;

  &__item {
    display: flex;
    width: 2rem;
    height: 2rem;
    padding: 0;
    background-color: #ffc044;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #333;

    &:hover {
      color: #fff;
      background-color: #ff8540;
    }

    &--current,
    &--current:hover {
      color: #fff;
      background-color: #ff4500;
    }
  }

  &__item + &__item {
    margin-left: 0.5rem;
  }

  &__link {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
  }
}

.low-vision .pager-nav {
  &__item {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    border: 2px solid #333;
    font-size: 1.5rem;

    &:hover {
      color: #fff;
      background-color: #666;
    }

    &--current,
    &--current:hover {
      color: #fff;
      background-color: #333;
    }
  }
}
