.MarkupPagerNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0;
  // номера
  li {
    list-style: none;
    padding: 0;
    margin-right: 0.5rem;

    a,
    &.MarkupPagerNavSeparator {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      color: #303030;
      background: #ffc044;
      font-size: 1rem;
      font-weight: 700;
      border: 1px solid #ccc;
      text-decoration: none;
    }

    &.MarkupPagerNavSeparator {
      color: #777;
      background: #d2e4ea;
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}
.MarkupPagerNav li.MarkupPagerNavOn a,
.MarkupPagerNav li a:hover {
  color: #fff;
  background: #db1174;
  background: #ff4500;
}
