@use 'ScssUtil/forward' as *;

.post-card {
  @include media('>tablet') {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: $shadowGrey;
  }

  + .post-card {
    margin-top: 3rem;
  }

  &__title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin: 0 0 0.5rem;

    &-link {
      color: #333;
      text-decoration: underline dotted;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    @include media('>=tablet') {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__image-container {
    display: inline-flex;
    width: 100%;
    margin: 0 0 1rem 0;
    box-shadow: 0 0 24px #eee inset;

    @include media('>=tablet') {
      flex: 1 1 220px;
      margin: 0 1rem 0 0;
    }
  }

  &__image {
    width: 100%;
    /* Go under box-shadow */
    z-index: -1;
  }

  &__content {
    @include media('>=tablet') {
      flex: 3 3 220px;
    }
  }

  &__summary {
    @extend %justPara;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__date {
    color: #888;
  }
}

.home .post-card {
  @include media('>=desktop') {
    &__body {
      flex-direction: column;
    }
  }
}

.low-vision {
  .post-card {
    &__title {
      font-size: 1.75rem;
    }
  }
}
