@use 'ScssUtil/forward' as fw;

.section {
  margin: 0 auto;
  line-height: 1.5;

  &--width {
    &_m,
    &_w {
      padding: 0 0.75rem;

      @include fw.media('>768px') {
        padding: 0 1.5rem;
      }
    }

    // medium
    &_m {
      max-width: 1024px;
    }

    // wide
    &_w {
      max-width: 1400px;
    }

    // // full
    // &_f {
    //   max-width: 100vw;
    // }
  }
}
