@use 'ScssUtil/forward' as *;

.section {
  margin: 0 auto;
  line-height: 1.5;

  &--width {
    // medium
    &_m {
      max-width: 1024px;
    }

    // wide
    &_w {
      max-width: 1400px;
    }

    &_m,
    &_w {
      padding: 0 0.75rem;

      @include media('>=tablet') {
        padding: 0 1.5rem;
      }
    }
  }

  &--justified {
    p {
      @extend %justPara;
    }
  }

  &--font_cursive {
    font-family: 'Lobster', cursive;
    font-size: 1.25rem;
  }
}
