@use 'ScssUtil/forward' as *;

.nav-primary {
  position: relative;
  display: none;
  padding: 0.75rem;
  background-color: #fff;
  z-index: 10;

  @include media('<=tablet') {
    &.visible {
      display: block;
      position: fixed;
      width: 100%;
      top: 3.25rem;
      bottom: 0;
      overflow: auto;
    }
  }

  @include media('>tablet') {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
    background-color: #fff;

    &:after {
      content: '';
      display: block;
      width: 100%;
      border-bottom: 1px solid #ccc;
    }
  }

  // .nav-primary__logo
  &__logo {
    display: none;

    @include media('>tablet') {
      display: inline-block;
      height: $nplHeight_d + 0.25rem;
      padding: 0.75rem 1rem;
      background-color: #fff;
    }
  }

  // .nav-primary__link
  &__link {
    display: block;
    line-height: $nplHeight_m;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    color: #333;

    &.active {
      color: orangered;
      font-weight: 700;
    }

    &:after {
      margin-left: 0.25rem;
      font-size: 1rem;
    }

    &.has-subnav::after {
      content: '▼';
    }

    &.subnav-open::after {
      content: '▲';
    }

    @include media('>tablet') {
      padding: 0 0.75rem;
      line-height: $nplHeight_d;
      background-color: #fff;
      border-bottom: 0.25rem solid transparent;
      font-size: 1rem;

      &:hover {
        background-color: #eee;
      }

      &:after {
        margin-left: 0.5rem;
      }

      &.active {
        color: #333;
        font-weight: 400;

        &:nth-of-type(1) {
          border-color: $red-vivid;
        }

        &:nth-of-type(2) {
          border-color: $yellow-vivid;
        }

        &:nth-of-type(3) {
          border-color: $green-vivid;
        }

        &:nth-of-type(4) {
          border-color: $blue-vivid;
        }

        &:nth-of-type(5) {
          border-color: $violet-vivid;
        }
      }
    }
  }
}

.low-vision .nav-primary {
  $nplHeight_lw: $nplHeight_d * 1.25;

  // height: $nplHeight_lw;

  @include media('>tablet') {
    &::after {
      border-bottom: 2px solid #333;
    }
  }

  &__link {
    font-size: 1.5rem;
    line-height: $nplHeight_lw;
    border-bottom: none;

    &.active {
      color: white;
      background-color: #333;
    }
  }

  &__logo {
    height: $nplHeight_lw;
  }
}
