@use 'ScssUtil/forward' as fw;

.np-subnav {
  display: none;
  z-index: -1;

  @media screen and (max-width: 767px) {
    display: none;

    &.visible {
      display: block;
    }
  }

  @include fw.media('>tablet') {
    position: absolute;
    top: -1000px;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0.5rem;
    padding: 1.5rem 0.5rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 5px 10px #0002;

    transition: top 0.5s ease-in-out, margin 0.2s ease-in 0.5s;

    &.visible {
      top: 5rem;
      margin-top: 0;
    }
  }

  // .np-subnav__column
  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: 768px) {
      padding: 0 1rem;
    }

    // .np-subnav__column-heading
    &-heading {
      margin-top: 0.5rem;
      font-size: 1.25rem;
      line-height: 2;
      font-weight: bold;

      @media screen and (min-width: 768px) {
        margin-top: 0;
        font-size: 1.1rem;
      }
    }
  }

  // .np-subnav__icon (svg)
  &__icon {
    height: 0.8rem;
    width: auto;
    margin-left: 0.5rem;
  }

  // .np-subnav__link
  &__link {
    margin-left: 1.5rem;
    font-size: 1.25rem;
    line-height: 2;
    text-decoration: none;
    color: #333;

    &.active {
      color: orangered;
    }

    &:hover {
      text-decoration: underline;
    }

    @media screen and (min-width: 768px) {
      margin-left: 0;
      font-size: 1rem;
      line-height: 1.75;
    }
  }
}
