@use 'ScssUtil/forward' as *;

.bread {
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0 0.75rem;
  line-height: $breadHeight_m;
  background: $yellow-vivid;
  border-bottom: 2px solid #333;
  z-index: 9;

  @include media('>=tablet') {
    position: relative;
    width: auto;
    justify-content: center;
    background-color: rgba(50, 40, 0, 0.1);
    padding: 0;
    line-height: 2;
    border-bottom: 1px solid #ccc;
    z-index: 8;
  }

  &__link {
    display: none;

    @include media('>=tablet') {
      display: inline-block;
      text-decoration: underline;
      color: #333;
    }
  }

  &__separator {
    display: none;
    margin: 0 4px;
    line-height: 2;
    cursor: default;

    @include media('>=tablet') {
      display: inline-block;
    }
  }

  &__current {
    font-weight: 700;
  }

  @include media('print') {
    display: none;
  }
}

// don't show on homepage
@include media('>=tablet') {
  .home .bread {
    display: none;
  }
}

.edit-link {
  display: inline-block;
  margin-left: 0.75rem;
  padding: 0 0.75rem;

  &__text {
    display: none;

    @include media('>=tablet') {
      display: initial;
    }
  }

  @include media('>=tablet') {
    position: absolute;
    right: 1rem;
    font-weight: 700;
    text-decoration: underline;
  }
}
