@use 'ScssUtil/forward' as fw;

.bread {
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0 0.75rem;
  line-height: fw.$breadHeight_m;
  background: fw.$yellow-vivid;
  border-bottom: 2px solid #333;
  z-index: 9;

  @media screen and (min-width: 768px) {
    position: relative;
    width: auto;
    justify-content: center;
    background-color: rgba(50, 40, 0, 0.1);
    padding: 0;
    line-height: 2;
    border-bottom: 1px solid #ccc;
    z-index: 8;
  }

  &__link {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline-block;
      text-decoration: underline;
    }
  }

  &__separator {
    display: none;
    margin: 0 4px;
    line-height: 2;
    cursor: default;

    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }

  &__current {
    font-weight: 700;
  }
}

// don't show on homepage
@media screen and (min-width: 768px) {
  .home .bread {
    display: none;
  }
}

// edit page link
.page-edit-link {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    position: absolute;
    right: 1rem;
    font-weight: 700;
    text-decoration: underline;
  }
}
