@use 'ScssUtil/forward' as fw;

.footer {
  text-align: center;

  &__top {
    padding: 1.5rem 0.75rem;
    background-color: fw.$footer-color;
  }

  &-nav {
    margin-bottom: 1.5rem;

    &__link {
      display: inline-block;
      margin: 0 1rem;
      line-height: 1.75;
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #cfe2e8;
      }
    }
  }

  &-officials {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    &__banner {
      display: inline-block;
      height: 100px;
      margin: 0.25rem;
      border: 1px solid #e0e0e0;
      max-width: 100%;
    }
  }

  &-copy {
    background-color: fw.$yellow-vivid;

    &__para {
      margin: 0;
      padding: 1.5rem 0.75rem;
    }
  }
}
#ban_gu {
  width: 235px;
  background: url('/site/assets/images/ban1.png') 0 0;
}
#ban_miac {
  width: 300px;
  background: url('/site/assets/images/ban1.png') -235px 0;
}
#ban_poll {
  width: 355px;
  background: url('/site/assets/images/ban1.png') -535px 0;
}
@media screen and (min-width: 768px) {
  .low-vision {
    .footer-nav__link,
    .footer-copy__para {
      font-size: 1.5rem;
    }
  }
}
