@use 'ScssUtil/forward' as fw;

@use 'ScssBlocks/header/nav-primary';
@use 'ScssBlocks/header/np-subnav';

.main-header {
  position: relative;

  &--home {
    @include fw.media('>tablet') {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 600px;
      background-image: url('/site/assets/images/bg-header-2560.jpg');
      background-position: center;
      box-shadow: 0 0 2.5rem #303030 inset;
    }
  }

  &__register-btn {
    display: none;

    @include fw.media('>tablet') {
      display: block;
      bottom: 4rem;
    }
  }
}

.toggle-low-vision__span {
  margin-left: 0.5rem;

  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.low-vision {
  .main-header--home {
    background: none;
    height: auto;
  }

  .main-header__register-btn {
    display: none;
  }
}
