@use 'ScssUtil/forward' as fw;

.main {
  flex: auto;
  margin-top: fw.$breadHeight_m;
  padding: 1.5rem 0;

  @include fw.media('>tablet') {
    margin-top: 0;
    padding: 3rem 0;
  }
}

.home .main {
  @include fw.media('>tablet') {
    padding-top: 0;
  }
}
