@use 'ScssUtil/forward' as fw;
@use './main/article';

.main {
  flex: auto;
  margin-top: fw.$breadHeight_m;
  padding: 1.5rem 0;

  @include fw.media('>tablet') {
    margin-top: 0;
    padding: 3rem 0;
  }
}
