@use 'ScssUtil/forward' as *;

.home-children {
  display: none;

  @include media('>=tablet') {
    display: flex;
    align-items: center;
    height: 20rem;
    background-attachment: fixed;
    background-size: cover;
  }
}

@include media('>=tablet') {
  #home-children-1 {
    background-image: url('/site/assets/images/bg-children-1.webp');
  }

  #home-children-2 {
    background-image: url('/site/assets/images/bg-children-2.webp');
  }
}
