@use 'ScssUtil/forward' as fw;

#home-children-1 {
  background-image: url('/site/assets/images/bg-children-1.jpg');
}

#home-children-2 {
  background-image: url('/site/assets/images/bg-children-2.jpg');
}

.home-children {
  display: none;

  @include fw.media('>tablet') {
    display: flex;
    align-items: center;
    height: 20rem;
    background-attachment: fixed;
    background-size: cover;
  }
}
