@use 'ScssUtil/forward' as *;

.register-section {
  text-align: center;

  @include media('>=tablet') {
    display: none;
    text-align: left;
  }
}

.low-vision .register-section {
  display: inherit;
}
