@use 'ScssUtil/forward' as fw;

.register-section {
  margin-top: 5rem;
  text-align: center;

  @include fw.media('>tablet') {
    display: none;
    text-align: left;
  }
}

.low-vision .register-section {
  display: inherit;
}
